body { background-color: #f4f7f6; }
.card-login { border: none; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.1); }
.btn-success { border-radius: 8px; padding: 10px; font-weight: bold; }
.card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .card {
            transition: transform 0.2s;
        }
        .card:hover {
            transform: translateY(-5px);
        }